<p-card>
   <p-header>
     <div class="text_center">
       <img src="/assets/calendar-alt-regular.svg" style="width: 15px; height: 15px" alt="image">
       {{cityForecastDay.dt_txt | date:'dd/MM/yyyy'}}
     </div>
   </p-header>
   <div class="grid-container">
     <div class="grid-child text_center">
       <img src="/assets/cloud-solid.svg" *ngIf="cityForecastDay.weather[0].description == 'nublado'" style="width: 15px; height: 15px" alt="image">
       <img src="/assets/cloud-solid.svg" *ngIf="cityForecastDay.weather[0].description == 'chuva leve'" style="width: 15px; height: 15px" alt="image">
       <img src="/assets/sun-regular.svg" *ngIf="cityForecastDay.weather[0].description == 'céu limpo'" style="width: 15px; height: 15px" alt="image">
       <img src="/assets/cloud-sun-solid.svg" *ngIf="cityForecastDay.weather[0].description == 'nuvens dispersas'" style="width: 15px; height: 15px" alt="image">
       {{cityForecastDay.weather[0].description}}
     </div>
     <div class="grid-child text_center">
       {{cityForecastDay.main.temp}}°C
     </div>
     <i class='fas fa-temperature-high'></i>
   </div>
   <p-footer>
     <div class="grid-container">
       <div class="grid-child text_center" style="color: blue;">
         <img src="/assets/temperature-low-solid.svg" style="width: 15px; height: 15px" alt="image"> {{cityForecastDay.main.temp_min}}°C
       </div>
       <div class="grid-child text_center" style="color: red;">
         <img src="/assets/temperature-high-solid.svg" style="width: 15px; height: 15px" alt="image"> {{cityForecastDay.main.temp_max}}°C
       </div>
     </div>
   </p-footer>
 </p-card>